.footer {
  background-color: $black;

  &__container {
    padding-block: 5rem;
    width: 84%;
    margin-inline: auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 8rem;

    img {
      filter: grayscale(100%);
      transition: all 0.2s ease;

      &:hover {
        filter: grayscale(0);
      }
    }
  }

  &__logo {
    width: 15rem;
  }

  &__icons {
    display: flex;
    gap: 1rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
      color: $white;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 1px;
      width: fit-content;

      &:hover {
        opacity: 60%;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  &__copyright {
    color: $dark-gray;
    font-size: 1.5rem;
  }

  &__link {
    color: $white;

    &::before {
      background-color: $white;
    }
  }
}
