// COLORS

$white: #fff;
$linear-gradient-1: linear-gradient(#5a77ff, #bc7198, #ffc593);
$linear-gradient-2: linear-gradient(to left, #5a77ff, #bc7198, #ffc593);
$light-gray: #d3d3d3;
$dark-gray: #bfbfbf;
$black: #000;

// container width
$container-width-lg: 84%;
$container-width-md: 90%;
$container-width-sm: 94%;
